

.fixbg{
  position:fixed; 
  width: 200%;
  height: 25%;
  padding-right:15px;
  padding-left: 15px;
  z-index:-1000;
  display:grid;
  grid-template-columns: (1)

}
#background{
  position: fixed;
  overflow: hidden;
  top:0;
  left:0;


}
.content{
  position:fixed;
}

h1 {
  overflow: hidden;
  font-family:calibri, sans-serif;
  font-size: 72px;
  text-align: center;
  color:#c2c2c2;
  margin-top: 0;
  background-image: radial-gradient(circle, black, white, red);
}
body{
  margin:0;
  background-color: #030303;s

}
